numpy>=1.19.0
pandas>=1.1.0
matplotlib>=3.3.0
torch>=1.7.0
torchaudio>=0.7.0
torchvision>=0.8.0
opencv-python>=4.4.0
dlib>=19.21.0
tqdm>=4.48.0
requests>=2.24.0
openpyxl>=3.0.5
scikit-learn>=0.23.2
scipy>=1.5.2
tensorboard>=2.3.0 